*.sln
*.suo
*.csproj
*.vbproj
*.resx
*.user
*.designer.cs
*.designer.vb
*.targets
*.props

bin/
obj/
Debug/
Release/

*.tmp
*.temp
*.log
*.cache
*.db

appsettings.Development.json
appsettings.Local.json
launchSettings.jso
